*.class
*.log
.DS_Store
*.jar

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
jmh/*.json

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ Settings per https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/
.idea/uiDesigner.xml
.idea/modules/
*.ipr
*.iws
*.iml

# HIVE
metastore_db/
**/kafka/src/test/scala/filodb/kafka/shard*
*lib*

# Allow Rust's lib.rs since we're otherwise blocking *lib* above
!lib.rs

coordinator/src/test/resources/
