<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %thread %logger{26} [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="filodb.coordinator" level="TRACE" />
    <logger name="filodb.core" level="TRACE" />
    <logger name="filodb.memory" level="DEBUG" />
    <logger name="filodb.query" level="DEBUG" />

    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="INFO"/>
    <logger name="org.apache.kafka.clients" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>

    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="WARN"/>
    <logger name="org.apache.kafka.common.security" level="WARN"/>
    <logger name="org.apache.kafka.common.network" level="WARN"/>
    <logger name="org.apache.kafka.common.metrics" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!-- Direct logs to Console in PIE. They get moved to Splunk -->
    </root>
</configuration>