<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{ISO8601}] %-5level %logger{26} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>filodb-test.log</file>

    <!-- truncate the logfile every time we start the test -->
    <append>false</append>

    <encoder>
      <pattern>[%date{ISO8601}] %-5level %logger{26} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>

  </appender>

  <!-- NOTE: additivity=false means filodb debug logs will not go to STDOUT -->
  <logger name="filodb" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <root level="WARN">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
