<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="filodb" level="DEBUG"/>

    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="WARN"/>
    <logger name="org.apache.kafka.common.security" level="WARN"/>
    <logger name="org.apache.kafka.common.network" level="WARN"/>
    <logger name="org.apache.kafka.common.metrics" level="ERROR"/>

    <root level="INFO" >
        <appender-ref ref="STDOUT" />
    </root>
</configuration>