<configuration>

    <appender name="METRICS" class="ch.qos.logback.core.FileAppender">
        <file>filodb-metrics.log</file>
        <!-- truncate the logfile every time we start the test -->
        <append>false</append>

        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{26} - %msg%n</pattern>
        </encoder>

    </appender>
    <appender name="FLOW" class="ch.qos.logback.core.FileAppender">
        <file>filodb-flow.log</file>

        <!-- truncate the logfile every time we start the test -->
        <append>false</append>

        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{26} - %msg%n</pattern>
        </encoder>

    </appender>

    <appender name="SINK" class="ch.qos.logback.core.FileAppender">
        <file>filodb.log</file>

        <!-- truncate the logfile every time we start the test -->
        <append>false</append>

        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{26} - %msg%n</pattern>
        </encoder>

    </appender>

    <logger name="filodb-flow" level="DEBUG">
        <appender-ref ref="FLOW"/>
    </logger>
    <logger name="filodb-metrics" level="DEBUG">
        <appender-ref ref="METRICS"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="SINK"/>
    </root>
</configuration>
