<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{ISO8601}] %-5level %logger{26} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>multijvm-${multijvm.node}-test.log</file>

    <!-- truncate the logfile every time we start the test -->
    <append>false</append>

    <encoder>
      <pattern>[%date{ISO8601}] %-5level %logger{26} [%X{akkaSource}] - %msg%n</pattern>
    </encoder>

  </appender>

  <!-- NOTE: additivity=false means filodb debug logs will not go to STDOUT -->
  <logger name="filodb" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="org.apache.kafka.common.metrics" level="ERROR"/>
  <logger name="org.apache.kafka.clients.consumer.KafkaConsumer" level="DEBUG"/>
  <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="WARN"/>
  <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="WARN"/>
  <logger name="org.apache.kafka.common.security" level="INFO"/>
  <logger name="org.apache.kafka.clients" level="INFO"/>
  <logger name="org.apache.kafka" level="INFO"/>

  <root level="WARN">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
